<script type="text/html" id="template-ui-radio">
    <h1 class="page-header">Radio button</h1>

    <p>Radio button description...</p>

    <h4>Basic Usage</h4>
    <div class="row">
        <div class="col-md-6">
            <div class="example" data-bind="prettyprint: '.example-radio-1'">
                <input name="radio-name" class="dw-radio" id="uniqe-radio-1" type="radio" value="1" checked="checked">
                <label for="uniqe-radio-1" >Label one</label>
                <input name="radio-name" class="dw-radio" id="uniqe-radio-2" type="radio" value="2">
                <label for="uniqe-radio-2">Label two</label>
            </div>
        </div>
        <div class="col-md-6">
            <pre class="example-radio-1"></pre>
        </div>
    </div>

</script>