<script type="text/html" id="main">
    <div class="container-wrapper container-fluid">
        <div class="row-wrapper">
            <div class="sidebar-wrapper">
                <div class="logo-wrapper">
                    <div class="dw-logo"></div>
                </div>
                <div class="nav-wrapper">
                    <div class="list-group" data-bind="foreach: $data.navigation">
                        <!-- ko ifnot: $data.children -->
                            <a class="list-group-item" data-bind="text: $data.label, url: $data.id, visible: !$data.hidden, css: {'active': $root.moduleId() == $data.id}"></a>
                        <!-- /ko -->
                        <!-- ko if: $data.children -->
                            <a class="list-group-item collapsed" data-toggle="collapse" data-bind="text: $data.label, url: ($data.children ? 'navigation-' : '') + $data.id, visible: !$data.hidden"></a>
                            <div class="submenu panel-collapse collapse" aria-expanded="false" data-bind="attr: {'id': 'navigation-' + $data.id}, foreach: $data.children">
                                <a class="list-group-item" data-bind="text: $data.label, url: $data.id, css: {'active': $root.moduleId() == $data.id}"></a>
                            </div>
                        <!-- /ko -->
                    </div>
                </div>
            </div>
            <div class="content-wrapper">
                <div class="module-wrapper container-fluid">
                    <!-- ko with: $data.chosenModule -->
                        <!-- ko template: {
                            name: $data.template,
                            data: $data.viewModel
                        } -->
                        <!-- /ko -->
                    <!-- /ko -->
                </div>
            </div>
        </div>
    </div>

</script>