<script type="text/html" id="main">
    <div class="container-wrapper">
        <div class="row-wrapper">
            <div class="sidebar-wrapper">
                <div class="logo-wrapper">
                    <div class="dw-logo"></div>
                </div>
                <div class="nav-wrapper">
                    <div class="list-group" data-bind="foreach: $data.navigation">
                        <!-- ko ifnot: $data.children -->
                            <a class="list-group-item" data-bind="text: $data.attr.label, url: $data.attr.id(), visible: !$data.hidden, css: {'active': $data.active(), 'disabled': attr.disabled}"></a>
                        <!-- /ko -->
                        <!-- ko if: $data.children -->
                            <a class="list-group-item" data-toggle="collapse" data-bind="
                                attr: { 'aria-expanded': String($data.activeChild())},
                                css: { collapsed: !$data.activeChild(), 'disabled': attr.disabled },
                                url: 'navigation-' + $data.url,
                                visible: !$data.hidden">
                                <span data-bind="text: $data.attr.label"></span>
                                <b class="ui-icon list-item-caret"></b>
                            </a>
                            <div class="submenu panel-collapse collapse" data-bind="
                                attr: {
                                    'aria-expanded': String($data.activeChild()),
                                    id: 'navigation-' + $data.url
                                },
                                css: { 'in': $data.activeChild() },
                                foreach: $data.children">
                                <a class="list-group-item" data-bind="
                                    text: $data.attr.label,
                                    url: $data.url,
                                    css: { 'active': $data.active(), 'disabled': attr.disabled && attr.disabled() }">
                                </a>
                            </div>
                        <!-- /ko -->
                    </div>
                </div>
            </div>
            <div class="content-wrapper">
                <div class="module-wrapper container-fluid">
                    <!-- ko with: $data.chosenModule -->
                        <!-- ko template: {
                            name: $data.template,
                            data: $data.viewModel
                        } -->
                        <!-- /ko -->
                    <!-- /ko -->
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/javascript">

</script>